body{
    font-family:Arial, Helvetica, sans-serif;
    background-color: lightgreen;
}
.section{
    width: 80%;
    margin: auto;
    overflow: hidden;
    margin-top: 4%;
}

.section h1{
    color: #fff;
    line-height: 50px;
}

.section p{
    color: gray;
}

.btn-1{
    background-color: orangered;
    padding: 0.7rem 1rem;
    color: #fff;
    border: none;
    border-radius: 10px;
}

.features{
    margin-top: 4%;
    margin-bottom: 2%;
}

.features button{
    padding: 0.7rem 2rem;
    margin-right: 2rem;
    font-size: 1.2rem;
    opacity: 0.7;
}
.yash{
    background: url(school.jpeg)
    no-repeat center center;
    min-height: 32rem;
}
#a1:hover,#a2:hover,#a3:hover,#a4:hover,#a5:hover{
color: black;
background-color: white;
}